.todos-list {
    /* width: 50vw; */
    height: 70vh;
    /* padding: 2rem; */
    /* background-color: rgb(214, 214, 247); */
    overflow-y: scroll;
  }
  
  .todo {
    border-radius: 3px;
    box-shadow: 0 .7rem 1rem rgb(93, 93, 93);
    margin-bottom: 1rem;
    background-color: rgb(106, 208, 248);
    min-height: 30%;
    color: blue;
    padding: 1rem;
  }
  
  .todo-title {
    font-size: 3rem;
  }